<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Postal Rate Calculator</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src='main.js'></script>
</head>

<body>
    <div id="header">
        <h1>Postal Rate Calculator</h1>
    </div>
    <br>
    <h2>We're sorry, but you must have selected an incorrect size.</h2>
    <br><br>
    <h3><a href="postalRateCalc.html">Click here</a> to return to the calculator.</h3>
</body>

</html>